*
!Dockerfile
!.dockerignore
!CNAME
!index.html
!about.html
!projects.html
!certificates.html
!assets/
!assets/**
!css/
!css/**
!js/
!js/**
!content/
!content/**
!scripts/
!scripts/**
!admin/
!admin/**
!project-pages/
!project-pages/**
!blog-source/
!blog-source/public/
!blog-source/public/**
